body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('hatter.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.kep h2{
    color: white;
}
#cim{
    color: white;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 50px;
    width: 50%;
}
#login{
    position: absolute;
    top: 10px;
    right: 15px;
}
.kep{
    display: flex;
    justify-content: center;
    align-items: center;
}
.csomag{
    position: relative;
    margin: 30px;
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 0px;
}
.csomag img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.lablec-container{
        color: white;
        text-align: center;
        padding: 7px;
        background-color: black;
        border: 1px solid #000;
        margin-top: 11.2%;
}
.lablec-info{
    display: flex;
    justify-content: center;
}

#svajci_gomb{
    border: 1px solid #fff;
    border-radius: 110px;
    font-size: 30px;
    display: inline-block;
    padding: 10px;
    padding-inline: 20px;
}

#svajci_gomb_link{
    color: #fff;
    text-decoration: none;
}

#nemet_gomb{
    border: 1px solid #fff;
    border-radius: 110px;
    font-size: 30px;
    display: inline-block;
    padding: 10px;
    padding-inline: 20px;

}

#nemet_gomb_link{
    color: #fff;
    text-decoration: none;
}