html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000000;
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

button{
    border-radius: 10px;
}

.card{
    border: 1px solid;
    border-radius: 30px;
}

.card-reszleg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 380px;
    display: inline-flex;
    margin: 25px;
}

.card-reszleg:hover{
    transform: translateY(-20px);
    transition: .2s;
    box-shadow: 5px 5px 10px black;
}

.card:not(:hover){
    transition: 0.2s;
    transform: scale(1);
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background:none;
}

#kollekcio{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.reszleg, .oldalmenu{
    margin-top: 50px;
}

.card-szures{
    margin-top: 150px;
}




footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 220px;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.elerhetoseg{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.elerhetoseg li{
    margin: 0 10px;
}
.elerhetoseg a{
    text-decoration: none;
    color: #fff;
}
.elerhetoseg a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.elerhetoseg a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}