html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000000;
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

button{
    border-radius: 10px;
}

/* KARTYA */
.card{
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 2px 2px 5px black;
}

.card-reszleg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 380px;
    display: inline-flex;
    margin: 25px;
}

.card-reszleg:hover{
    transform: translateY(-20px);
    transition: .2s;
    box-shadow: 5px 5px 10px black;
}

.card:not(:hover){
    transition: 0.2s;
    transform: scale(1);
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background:none;
}

/*OLDAL CIME*/
#kollekcio{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.reszleg, .oldalmenu{
    margin-top: 50px;
}

.card-szures{
    margin-top: 150px;
}

.btn-success{
    border-radius: 15px;
    padding: 3px;
    margin: 0;
}

.karora_ar{
    justify-content: space-between;
}

/* FEJLÉC */
.navbar{
    width: 100%;
    padding: 2%;
    background-color: #804a03d0; 
    box-shadow: 2px 2px 5px black;
}

.navbar ul{
    margin: 0;
    
}

.navbar ul li{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    padding: 5 7px;
}

.menu{
    list-style: none;
    text-decoration: none;
    color: #000000;
}

.menu:hover{
    background: #6d440fd0; 
    color: #000000;
    transition: .5s;
    border-radius: 10px;
    padding: 3px 3px;    
}

/* BEJELENTKEZES*/
#Svajci_login{
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    z-index: 500;
    box-sizing: content-box;
}

#Svajci_login, #Svajci_login_ikon h3 span{
    position: absolute;
    display: flex;
    justify-content: center;
}

#Svajci_login h3{
    color: #000000;
}

#Svajci_login, #Svajci_login_ikon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

#Svajci_login_ikon{
    position: absolute;
    margin: 0;
    padding: 0;
    
}

/* FOOTER */
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 220px;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.elerhetoseg{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.elerhetoseg li{
    margin: 0 10px;
}

.elerhetoseg a{
    text-decoration: none;
    color: #fff;
}

.elerhetoseg a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}

.elerhetoseg a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}